@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
    .promo {
        padding-bottom: 60px;
        min-height: 620px;
        &__header {
            font-size: 38px;
            line-height: 38px;
        }
        &__subheader {
            font-size: 22px;
            line-height: 22px;
        }
        &__wrapper {
            margin-top: 60px;
        }
    }
    .title {
        &_left {
            font-size: 32px;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 700px;
    }
    .promo {
        &__header {
            font-size: 34px;
            line-height: 34px;
        }
        &__subheader {
            font-size: 19px;
            line-height: 19px;
        }
    }
    .advantages {
        padding: 50px 0 60px 0;
        &__wrapper {
            margin-top: 55px;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__item {
            max-width: 250px;
            margin-bottom: 45px;
            &:nth-child(3) {
                margin-bottom: 0px;
            }
        }
    }
    .title {
        font-size: 25px;
    }
    .consultation {
        &__descr {
            margin-top: 60px;
            font-size: 18px;
        }
    }
    .footer {
        height: 470px;
        &__info {
            width: 345px;
            height: 202px;
        }
        &__addr {
            font-size: 16px;
            line-height: 16px;
        }
        &__phone {
            margin-top: 25px;
            font-size: 16px;
            line-height: 16px;
        }
        &__network {
            margin-top: 28px;
            width: 180px;
            &-item {
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 500px;
    }
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        padding: 25px 0 50px 0;
        &__wrapper {
            align-items: center;
        }
    }
    .title {
        font-size: 22px;
        text-align: center;
    }
    .consultation {
        min-height: 620px;
        padding: 85px 0 75px 0;
        &__descr {
        margin-top: 50px;
        font-size: 17px;
        text-align: center;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
        &_mt25 {
            margin-top: 25px;
        }
    }
    .carousel {
        padding: 51px 0;
        &__inner {
            width: 550px;
        }
        div {
            img {
                max-width: 500px;
            }
        }
    }
    .catalog {
        padding-bottom: 70px;
        &__tabs {
            margin-top: 50px;
        }
        &__tab {
            font-size: 15px;
        }
        &__content {
            margin-top: 50px;
            justify-content: center;
        }
    }
    .reviews {
        padding-bottom: 51px;
        &__wrapper {
            hr {
                margin: 30px 0;
            }
        }
        &__item {
            &:nth-child(1) {
                margin-top: 50px;
            }
        }
        &__img {
            width: 100px;
            height: 100px;
            margin-right: 40px;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 300px;
    }
    .button {
        font-size: 11px;
        width: 125px;
        &_main {
            width: 300px;
            font-size: 15px;
        }
        &_submit {
            width: 100%;
        }
    }
    .header {
        &__phone {
            font-size: 13px;
        }
        &__logo {
            width: 150px;
        }
    }
    .promo {
        min-height: 470px;
        &__header {
            font-size: 22px;
            line-height: 22px;
        }
        &__subheader {
            font-size: 15px;
            line-height: 25px;
            text-align: center;
        }
        &__icons {
            display: none;
        }
    }
    .advantages {
        padding: 40px 0 50px 0;
    }
    .title {
        font-size: 18px;
    }
    .consultation {
        min-height: 610px;
        padding: 65px 0 65px 0;
        &__descr {
        font-size: 14px;
        }
    }
    .carousel {
        padding: 31px 0;
        &__inner {
            width: 320px;
        }
        div {
            img {
                max-width: 300px;
            }
        }
    }
    .catalog {
        padding-bottom: 50px;
        &__tabs {
            margin-top: 30px;
        }
        &__tab {
            font-size: 9px;
        }
        &__content {
            margin-top: 30px;
        }
    }
    .reviews {
        padding-bottom: 31px;
        &__wrapper {
            hr {
                margin: 15px 0;
            }
        }
        &__item {
            flex-direction: column;
            align-items: center;
            &:nth-child(1) {
                margin-top: 25px;
            }
        }
        &__img {
            width: 100px;
            height: 100px;
            margin-right: 0px;
        }
        &__descr {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .footer {
        height: 400px;
        &__info {
            width: 300px;
        }
    }
    .modal {
        width: 280px;
        min-height: 320px;
        padding: 25px 15px 15px 15px;
        &__close {
            right:-20px;
            font-size: 31px;
        }
        &__subtitle {
            font-size: 16.5px;
        }
        &__descr {
            font-size: 13px;
        }
        &_mini {
            min-height: 140px;
        }
    }
    .feed-form {
        width: 260px;
    }
}