.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 50px 0 60px 0;
        width: 460px;
        height: 270px;
        background-color: $main-color;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__addr {
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        color: #ffffff;
        margin-bottom: 0;
    }
    &__phone {
        margin-top: 36px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            color: #ffffff;
            text-decoration: underline;
        }
    }
    &__network {
        width: 210px;
        margin-top: 38px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border: 2px solid #ffffff;
            border-radius: 100%;
            img {
                height: 27px;
            }
            &:hover {
                box-shadow: 1px 1px 15px 2px #fff;
            }
        }
    }
}