.reviews {
    padding-bottom: 71px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        hr {
            border-bottom: none;
            background-color: #f6f6f6;
            margin: 50px 0;
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        &:nth-child(1) {
            margin-top: 70px;
        }
    }
    &__img {
        width: 169px;
        height: 169px;
        margin-right: 60px;
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__subtitle {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
    &__text {
        margin-top: 19px;
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
        /* width: 655px; */
    }
}